.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60vw;
  margin: 0 auto;

  @media (max-width: $breakpoint-medium) {
    max-width: 70vw;
  }

  @media (max-width: $breakpoint-small) {
    max-width: 80vw;
  }
}
