.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.composerButton.composerButton.composerButton {
  color: $rouse-gold-light;
  border-color: $rouse-gold-light;
  background-color: $rouse-red;
  border: 2px solid $rouse-gold-light;
  width: 80vw;

  &:hover {
    background-color: $rouse-red-darker;
  }

  &:active {
    background-color: $rouse-red-darkest;
    border-color: $rouse-gold;
    color: $rouse-gold;
  }

  @media (max-width: $breakpoint-medium) {
    &:hover {
      background-color: $rouse-red;
    }
  }
}
