.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $rouse-red-darkest;
  color: #ffffff;
  border-radius: $standard-rounding;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  width: 85vw;
  min-width: 316px;
  margin: 0 auto 2rem auto;
  box-sizing: border-box;

  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
    align-items: center;
  }

  .composerImage {
    width: 33%;
    max-width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: $standard-rounding;
    align-self: start;
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

    min-width: 325px;

    @media (max-width: $breakpoint-medium) {
      align-self: center;
      width: 50%;
      margin-bottom: 1rem;

      min-width: 300px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 0;
    margin: 0 1rem;
    padding: 1rem;

    @media (max-width: $breakpoint-medium) {
      width: 100%;
      margin: unset;
      align-items: center;
      text-align: center;
    }

    h2 {
      margin: 0 0 $margin-small 0;
      align-self: start;

      @media (max-width: $breakpoint-medium) {
        align-self: center;
      }
    }

    h3 {
      margin: 0 0 0.5rem 0;
      padding-bottom: 1rem;
      align-self: start;
      font-size: 1.5rem;

      @media (max-width: $breakpoint-medium) {
        font-size: 1rem;
        align-self: center;
      }
    }

    a {
      color: $rouse-gold-light;
      text-decoration: underline;
      text-decoration-color: $rouse-gold-light;
      text-underline-offset: 4px;
      margin-bottom: 0.5rem;
      word-break: break-word;
      overflow-wrap: break-word;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      transition: color 0.2s ease;
      font-size: 1.25rem;
      padding-bottom: 1rem;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: $breakpoint-medium) {
        white-space: normal;
        align-self: center;
        font-size: 1rem;
      }
    }

    p {
      margin: 0;
      font-size: 1.2rem;
      font-weight: lighter;
      color: $wiley-gray-light;
      text-align: justify;
      hyphens: auto;

      max-width: 100%;
      box-sizing: border-box;

      @media (max-width: $breakpoint-medium) {
        text-align: justify;
        hyphens: auto;
      }
    }
  }

  .readMoreButton {
    color: $wiley-gray-light;
    border-color: $wiley-gray-light;
    background-color: $rouse-red-darkest;
    border: 2px solid $wiley-gray-light;
    border-radius: $standard-rounding;
    width: 250px;
    min-width: 212px;
    margin-top: 1rem;

    &:hover {
      background-color: $rouse-red;
    }

    &:active {
      background-color: $rouse-red-darkest;
      border-color: $wiley-gray-dark;
      color: $wiley-gray-dark;
    }

    @media (max-width: $breakpoint-medium) {
      &:hover {
        background-color: $rouse-red-darkest;
      }
    }
  }
}
