.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100vw;
  position: relative; /* Necessary for hamburger menu positioning */

  .logo {
    height: 50px;
    object-fit: contain;
  }
}

.navLinks {
  display: flex;
  gap: 1rem;
  margin-right: 24px;
  font-weight: bold;

  @media (max-width: $breakpoint-small) {
    display: none; /* Hide desktop nav links on mobile */
  }
}

.activeLink {
  text-decoration: underline;
  text-decoration-color: #ffdd57;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.hamburgerMenu {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;

  @media (max-width: $breakpoint-small) {
    display: block; /* Show hamburger menu on mobile */
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Prevents interaction when hidden */
  transform: scale(1.1); /* Slight zoom-out effect */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .mobileLogo {
    position: absolute;
    top: 2rem; /* Position the logo at the top */
    height: 80px; /* Adjust as needed */
    object-fit: contain; /* Maintain aspect ratio */
  }

  .closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  .mobileNavLinks {
    margin-top: 3rem; /* Push links down slightly */
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      text-align: center;

      &:hover {
        color: #ffdd57;
      }
    }

    .activeLink {
      text-decoration: underline;
      text-decoration-color: #ffdd57;
      text-decoration-thickness: 2px;
      text-underline-offset: 4px;
    }
  }
}
