.accordion.accordion.accordion {
  color: white;
  background-color: $dark-background;
  border-bottom: 1px solid white;
}

.summary {
  color: white;
}

.expandButton {
  color: white;
}

.titleText.titleText.titleText {
  font-weight: bold;
  width: 33%;
  flex-shrink: 0;

  @media (max-width: $breakpoint-xsmall) {
    width: 50%;
    font-size: 14px;
  }
}

.composerText.composerText.composerText {
  font-weight: lighter;
  @media (max-width: $breakpoint-xsmall) {
    font-size: 14px;
  }
}

.details {
  text-align: justify;
}
