.accordion {
  color: white;
  background-color: $dark-background;
  border-bottom: 1px solid white;
}

.summary {
  color: white;
}

.expandButton {
  color: white;
}

.titleText {
  font-weight: bold;
}

.composerText {
  font-weight: lighter;
}

.details {
  text-align: justify;
}
