.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $rouse-red-darkest;
  border-radius: $standard-rounding;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  border: 2px solid $wiley-gray-light;
  width: 100%;
  max-width: 320px;
  text-align: center;
  overflow: hidden;
  aspect-ratio: 3 / 4;
  margin: 0 auto;
  height: auto;

  @media (max-width: 375px) {
    height: 300px;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 4px 0 4px;
  }

  p {
    font-weight: 400;
    margin: 0;
    color: $wiley-gray-light;
  }

  .clickMessage {
    font-size: small;
    font-weight: 100;
  }

  .schoolLogo {
    max-width: 70%;
    max-height: 150px;
    height: auto;
    object-fit: contain;
    margin-bottom: 4rem;

    @media (max-width: 375px) {
      max-width: 65%;
      max-height: 120px;
      margin-bottom: 2rem;
    }

    @media (max-width: 320px) {
      max-width: 60%;
      max-height: 100px;
      margin-bottom: 1rem;
    }
  }
}
