.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw; // Ensure full viewport width
  text-align: center;
  color: white;
  padding: 20px; // Optional padding for spacing
  overflow: hidden; // Prevents any scrolling issues if elements overflow
}

// Background image for landing page
.landingPageBackground {
  background-image: url("../assets/images/Combined_2.jpeg"); // Adjust the path as needed
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // opacity: 50%;
}
