.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.navBarWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.navBarWrapper.visible {
  opacity: 1;
  transform: translateY(0);
}

.navBarWrapper.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.imageContainer {
  position: relative;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 2rem;
  height: auto;

  /* Set a dynamic height for smaller screens */
  @media (max-width: 1024px) {
    // Tablet and below
    height: auto;
  }

  @media (min-width: 1025px) {
    // Desktop and above
    height: 70vh;
    max-height: 500px;
  }
}

.groupImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}

/* Gradient overlay at the bottom */
.imageContainer::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, #242424 100%);
  pointer-events: none;
  z-index: 1;
}

/* Gradient overlay at the top */
.imageContainer::before {
  content: "";
  position: absolute;
  top: -1px; /* Extend slightly above the image */
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(#ffffff 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
  z-index: 1;
}
