.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navBarWrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.navBarWrapper.visible {
  opacity: 1;
  transform: translateY(0);
}

.navBarWrapper.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.imageContainer {
  position: absolute;
  width: 100%; /* Full width */
  overflow: hidden; /* Prevent overflow */
}

.groupImage {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensures no inline gap */
}

/* Gradient overlay */
.imageContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Fade bottom 10% of the image */
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    /* Transparent */ #242424 100% /* Fully white background */
  );
  pointer-events: none; /* Ensure it doesn’t block interactions */
}

.content {
  flex: 1;
  padding: 20px;
}
