.container {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  h1 {
    @media (max-width: 424px) {
      font-size: 1.5em;
    }
  }
}
