.card {
  display: flex;
  flex-direction: column;
  border-radius: $standard-rounding;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  background-color: $rouse-red-darker;
  max-width: 80vw;
  margin: 0 auto 4rem;
}

.imageContainer {
  background-color: $rouse-red-darker;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.textContainer {
  background-color: $rouse-red-darkest;
  padding: 1rem;
  color: white;
}

.sectionName {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.membersContainer {
  display: grid;
  grid-auto-flow: column; // Fill columns first
  grid-template-rows: repeat(5, auto); // Two rows
  gap: 0.5rem;

  @media (max-width: 768px) {
    grid-auto-flow: row; // Reset to row-first for single column
    grid-template-rows: none; // Remove row restriction
    grid-template-columns: 1fr; // Single column
  }
}

.member {
  font-size: 1.5rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #444;
  color: white;
  font-size: 1.2rem;
}
