.accordion.accordion.accordion {
  color: white;
  background-color: $rouse-red-darkest;
  border-bottom: 1px solid white;
}

.summary.summary.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}

.summaryContent.summaryContent.summaryContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.expandButton.expandButton.expandButton {
  color: white;
}

.titleText.titleText.titleText {
  color: $rouse-gold-light;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 18px;
  @media (max-width: $breakpoint-xsmall) {
    font-size: 14px;
  }
}

.composerText.composerText.composerText {
  color: $wiley-gray-light;
  font-weight: lighter;
  font-size: 16px;
  @media (max-width: $breakpoint-xsmall) {
    font-size: 12px;
  }
}

.details.details.details {
  color: $wiley-gray-light;
  text-align: justify;
  white-space: pre-line;
}

.performanceDetails.performanceDetails.performanceDetails {
  p {
    font-size: 16px;
    font-weight: bold;
    color: $wiley-gray-light;

    @media (max-width: $breakpoint-xsmall) {
      font-size: 12px;
    }
  }

  margin-bottom: $margin-xlarge;
}

.conductorText.conductorText.conductorText {
  justify-self: center;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-bottom: $margin-xlarge;
  color: $wiley-gray-light;
}

.image {
  width: 100%;
  max-height: 700px;
  object-fit: contain;
  border-radius: $standard-rounding;
  margin: $margin-xlarge 0;
}

.directorNotes.directorNotes.directorNotes {
  font-style: italic;

  .fromTheDirector {
    font-style: normal;
  }
}

.border.border.border {
  margin: $margin-xlarge 0;
  border-bottom: 1px solid $wiley-gray-light;
}
