:root {
  font-family: Avenir, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $dark-background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  color: $rouse-gold-light;
  align-self: center;
  text-align: center;
}

h1 {
  font-size: clamp(
    2rem,
    4vw,
    3rem
  ); /* Responsive scaling: min, preferred, max */
  margin: 0.5rem 0; /* Adjust spacing around the heading */
}

h2 {
  font-size: clamp(
    1.5rem,
    3vw,
    2rem
  ); /* Responsive scaling: min, preferred, max */
  margin: 0.5rem 0; /* Adjust spacing around the heading */
}

h3 {
  font-size: clamp(
    1rem,
    2vw,
    1rem
  ); /* Responsive scaling: min, preferred, max */
  margin: 0.5rem 0; /* Adjust spacing around the heading */
}

p {
  font-size: clamp(1rem, 2.5vw, 1.5rem); /* Scale smoothly for paragraph text */
  margin: 0.3rem 0; /* Adjust spacing around paragraphs */
}

a {
  color: $rouse-red; // Custom color for links
  text-decoration: none;
  transition: color 0.3s ease;
  opacity: 100%;

  &:hover {
    color: $rouse-gold; // Hover color for links
  }
}

html,
body {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

button {
  border-radius: $standard-rounding;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
